:root {
  --vp-layout-max-width: 1920px;
}

.VPDoc:not(.has-sidebar) .container {
  max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
  max-width: 1168px !important;
}

img {
  max-width: min(720px, 100%);
}

/* h5見出しの上に余白を追加 */
.vp-doc h5 {
  margin-top: 2rem;
}

/* GitHub専用要素をVitePressで非表示にする */
.github-only {
  display: none !important;
}